openapi: 3.0.3
info:
  version: 0.0.2
  title: Cloudthread API
  description: |
      This API allows for interaction with Cloudthread cloud cost management Platform.
  termsOfService: https://www.cloudthread.io/terms-of-use
  contact: 
    email: hey@cloudthread.io

servers:
  - url: 'https://api.cloudthread.io'

tags:
  - name: streams
    description: Data ingestion streams
    externalDocs:
      description: Find out more
      url: https://docs.cloudthread.io/v/api-docs/reference/api-reference/custom_data
  - name: events
    description: Custom events that can be overlayed on top of your Cost Views and Unit Metrics
    externalDocs:
      description: Find out more
      url: https://docs.cloudthread.io/v/api-docs/reference/api-reference/events
  - name: tag-catalog
    description: Tag catalog manipulation
    externalDocs:
      description: Find out more
      url: https://docs.cloudthread.io/v/api-docs/reference/api-reference/tag_catalog
  - name: cost-views
    description: Cost Views manipulation
    externalDocs:
      description: Find out more
      url: https://docs.cloudthread.io/v/api-docs/reference/api-reference/metrics#cost-view-fetch
  - name: unit-metrics
    description: Unit Metric manipulation
    externalDocs:
      description: Find out more
      url: https://docs.cloudthread.io/v/api-docs/reference/api-reference/metrics#unit-metric-fetch
  - name: users
    description: Users manipulation
    externalDocs:
      description: Find out more
      url: https://docs.cloudthread.io/v/api-docs/reference/api-reference/users
  - name: teams
    description: Teams manipulation
    externalDocs:
      description: Find out more
      url: https://docs.cloudthread.io/v/api-docs/reference/api-reference/teams
  - name: savings-opportunities
    description: Savings Opportunities manipulation
    externalDocs:
      description: Find out more
      url: https://docs.cloudthread.io/v/api-docs/reference/api-reference/savings-hub/opportunities-explorer

paths:
  /streams/ingest:
    post:
      summary: Ingests data into created Data Stream
      operationId: ingest_stream_data
      tags:
        - streams
      requestBody:
        $ref: '#/components/requestBodies/StreamData'
      security:
        - ApiKeyAuth: []
      responses:
        201:
          description: Ingested successfully
        400:
          description: Validation error
        404:
          description: No stream found

  /events:
    post:
      summary: Ingests the custom events data
      description: Ingests the custom events data that can be overlayed on top of your Cost Views and Unit Metrics
      operationId: create_events
      tags:
        - events
      requestBody:
        $ref: '#/components/requestBodies/CreateEvents'
      security:
        - ApiKeyAuth: [ ]
      responses:
        201:
          description: Ingested successfully
        400:
          description: Validation error
        404:
          description: No team found

  /tag-catalog:
    get:
      summary: Fetches a Tag Catalog entry via catalog key
      operationId: get_tag_catalog
      tags:
        - tag-catalog
      parameters:
       - $ref: '#/components/parameters/CatalogKey'
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Tag catalog data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTagCatalogPayload'
  
  /cost/metric/{metric_id}:
    get:
      summary: Returns cost data from Cloudthread Cost View
      operationId: get_cost_metric_filter_data
      tags:
        - cost-views
      parameters:
       - $ref: '#/components/parameters/MetricID'
       - $ref: '#/components/parameters/StartDate'
       - $ref: '#/components/parameters/EndDate'
       - $ref: '#/components/parameters/CostType'
       - $ref: '#/components/parameters/Amortization'
       - $ref: '#/components/parameters/Exclude'
       - $ref: '#/components/parameters/Granularity'
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Metric data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCostViewPayload'

  /unit/metric/{metric_id}:
    get:
      summary: Returns cost data from Cloudthread Unit Metric
      operationId: get_unit_metric_filter_data
      tags:
        - unit-metrics
      parameters:
       - $ref: '#/components/parameters/MetricID'
       - $ref: '#/components/parameters/StartDate'
       - $ref: '#/components/parameters/EndDate'
       - $ref: '#/components/parameters/CostType'
       - $ref: '#/components/parameters/Amortization'
       - $ref: '#/components/parameters/Exclude'
       - $ref: '#/components/parameters/Granularity'
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Metric data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUnitMetricPayload'

  /users:
    get:
      summary: Returns data on users
      description: Returns data on registered Users of Cloudthread platform
      operationId: get_users
      tags:
        - users
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
  
  /teams:
    get:
      summary: Returns list of Teams
      description: Fetches list of Teams within the org
      operationId: get_teams_within_org
      tags:
        - teams
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: List of teams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTeamsResponse'

    post:
      summary: Creates new Team
      description: Creates new Team within the org
      operationId: create_team
      tags:
        - teams
      requestBody:
        $ref: '#/components/requestBodies/CreateTeam'
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Team created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
        400:
          description: Validation error
        404:
          description: Slack integration or Slack channel not found

  /teams/{team_id}:
    get:
      summary: Returns specific Team
      description: Fetches data on a specific Team within the org
      operationId: get_team_within_org
      tags:
        - teams
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Get team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
    patch:
      summary: Updates existing Team
      operationId: update_team
      tags:
        - teams      
      requestBody:
        $ref: '#/components/requestBodies/CreateTeam'
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
        400:
          description: Validation error
        404:
          description: Slack integration/slack channel not found/team not found

    delete:
      summary: Deletes existing Team
      operationId: delete_team
      tags:
        - teams   
      security:
        - ApiKeyAuth: [ ]
      responses:
        204:
          description: Deleted
        404:
          description: Team not found

  /teams/{team_id}/members:
    get:
      operationId: get_team_members
      summary: Returns list of Team members
      description: Fetches list of members of specific Team
      tags:
        - teams  
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: List of team members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'

  /teams/{team_id}/members/assign:
    post:
      operationId: assign_users_to_team
      summary: Adds new Users to specific Team
      tags:
        - teams  
      requestBody:
        $ref: '#/components/requestBodies/AssignUsersToTeam'
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: List of team members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'

  /teams/{team_id}/members/delete:
    post:
      operationId: assign_users_to_team
      summary: Deletes Users from specific Team
      tags:
        - teams  
      requestBody:
        $ref: '#/components/requestBodies/RemoveUsersFromTeam'
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: List of team members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'

  /cost-optimization/opportunities/list:
    post:
      operationId: get_opportunities
      summary: Returns the list of Savings Opportunities
      tags:
        - savings-opportunities
      requestBody:
        $ref: '#/components/requestBodies/GetOpportunitiesQuery'
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: List of savings opportunities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOpportunitiesResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    CatalogKey:
      name: catalog_key
      in: query
      description: Tag Catalog key
      required: true
      schema:
        type: string
        
    MetricID:
      name: metric_id
      in: path
      description: Cost View or Unit Metric ID
      required: true
      schema:
        type: string

    TeamID:
      name: team_id
      in: path
      description: team id
      required: true
      schema:
        type: string

    StartDate:
      name: start_date
      in: query
      description: Start Date
      required: true
      schema:
        type: string

    EndDate:
      name: end_date
      in: query
      description: End Date
      required: true
      schema:
        type: string

    CostType:
      name: cost_type
      in: query
      description: Cost Type or Cost Column ID
      required: false
      schema:
        oneOf:
          - type: string
          - type: integer

    Amortization:
      name: amortization
      in: query
      description: Cost Data Amortization
      required: false
      schema:
        type: boolean

    Exclude:
      name: exclude
      in: query
      description: Excluded Payment Types
      required: false
      schema:
        type: string

    Granularity:
      name: granularity
      in: query
      description: Metric Date Granularity
      required: false
      schema:
        type: string

  requestBodies:
    StreamData:
      description: Definition of the data stream
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StreamData'

    CreateEvents:
      description: Create events for Events Overlay
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateEvents'

    CreateTeam:
      description: Create team
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateTeamRequest'

    AssignUsersToTeam:
      description: Assign Users to Team
      content:
        application/json:
          schema:
            description: List of Users
            properties:
              users_ids:
                type: array
                items:
                  type: string

    RemoveUsersFromTeam:
      description: Remove users from Team
      content:
        application/json:
          schema:
            description: List of Users
            properties:
              users_ids:
                type: array
                items:
                  type: string

    GetOpportunitiesQuery:
      description: Query to filter opportunities
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetOpportunitiesQuery'
  
  schemas:
    StreamData:
      description: Stream data
      type: object
      required:
        - data_stream_token
        - metric_agg_func
        - data
      properties:
        data_stream_token:
          type: string
          example: sometoken
        metric_agg_func:
          type: string
          example: Sum | Average | Minimum | Maximum
        data:
          type: array
          items:
            $ref: '#/components/schemas/StreamDataPayload'

    StreamDataPayload:
      description: Payload for data ingestion stream
      type: object
      required:
        - timestamp
        - metric_name
        - metric_value
      properties:
        timestamp:
          type: string
          format: date-time
          example: yyyyMMddHHmmss
          description: Can be either timestamp or datetime string
        metric_name:
          type: string
          example: customers
          description: The name pf the metric being ingested
        metric_value:
          type: number
          format: float
          example: 3.14
          description: The value of the metric being ingested
        custom_dimensions:
          type: object
          description: Map of up to 10 key value pairs that you will be able to segment the data by on the Cloudthread platform
          example: [[region1, 20.5], [region2, 7.0]]

    CreateEvents:
      description: List of Events with their properties
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CreateEventsData'

    CreateEventsData:
      description: Properties defining the Event
      type: object
      required:
        - timestamp
        - payload
      properties:
        timestamp:
          type: string
          format: date-time
          example: yyyyMMddHHmmss
          description: can be either timestamp or datetime string
        team_id:
          type: integer
          example: 1
          description: ID of the team that events are relevant to (if teams are defined)
        payload:
          $ref: '#/components/schemas/EventsPayload'

    EventsPayload:
      description: Events data payload
      type: object
      required:
        - type
      properties:
        type:
          type: string
          example: deploy
        description:
          type: string
          example: Major code improvements
        event_url:
          type: string
          example: https://foo.org

    GetTagCatalogPayload:
      description: Tag Catalog fetch response
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string

    GetCostViewPayload:
      description: Data returned by query of Cost View
      type: object
      properties:
        data:
          type: array
          description: List of Cost View data points (timeseries)
          items:
            $ref: '#/components/schemas/GetCostViewDataPoint'

    GetCostViewDataPoint:
      description: Data point for Cost View for specific date
      type: object
      properties:
        current_timeframe_cost:
          type: number
          format: float
        previous_timeframe_cost:
          type: number
          format: float
        pop_diff:
          type: number
          format: float
        pop_change:
          type: number
          format: float
        date:
          type: string
          example: YYYYMMDD

    GetUnitMetricPayload:
      description: Data returned by query of Unit Metric
      type: object
      properties:
        data:
          type: array
          description: List of Unit Metric data points (timeseries)
          items:
            $ref: '#/components/schemas/GetUnitMetricDataPoint'

    GetUnitMetricDataPoint:
      description: Data point for Unit Metric for specific date
      type: object
      properties:
        current_timeframe_denominator:
          type: number
          format: float
        current_timeframe_numerator:
          type: number
          format: float
        current_timeframe_unit_metric:
          type: number
          format: float
        previous_timeframe_denominator:
          type: number
          format: float
        previous_timeframe_numerator:
          type: number
          format: float
        previous_timeframe_unit_metric:
          type: number
          format: float
        pop_diff:
          type: number
          format: float
        pop_change:
          type: number
          format: float
        d_agg_func:
          type: string
        n_agg_func:
          type: string
        date:
          type: string

    User:
      description: Registered User on Cloudthread platform
      type: object
      required:
        - id
        - email
        - name
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string

    GetUsersResponse:
        description: List of Users
        type: array
        items:
          $ref: '#/components/schemas/User'

    CreateTeamRequest:
      description: Properties defining the Team
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        slack_channel:
          type: string
        aws_account_ids:
          type: array
          items:
            type: string
        aws_bill_payer_account_ids:
          type: array
          items:
            type: string
        aws_region_names:
          type: array
          items:
            type: string
        aws_services:
          type: array
          items:
            type: string
        aws_tags:
          type: array
          items:
            type: object
        aws_account_tags:
          type: array
          items:
            type: object
        gcp_project_names:
          type: array
          items:
            type: string
        gcp_billing_account_ids:
          type: array
          items:
            type: string
        gcp_sku_ids:
          type: array
          items:
            type: string
        gcp_locations:
          type: array
          items:
            type: string
        gcp_services:
          type: array
          items:
            type: string
        gcp_labels:
          type: array
          items:
            type: object
        custom_stream_tokens:
          type: array
          items:
            type: string
        custom_metric_names:
          type: array
          items:
            type: string
        custom_dimensions:
          type: array
          items:
            type: object
        opportunity_priorities:
          type: array
          items:
            type: integer

    TeamResponse:
      description: Properties defining the Team
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slack_channel:
          type: string
        aws_account_ids:
          type: array
          items:
            type: string
        aws_bill_payer_account_ids:
          type: array
          items:
            type: string
        aws_region_names:
          type: array
          items:
            type: string
        aws_services:
          type: array
          items:
            type: string
        aws_tags:
          type: array
          items:
            type: object
        aws_account_tags:
          type: array
          items:
            type: object
        gcp_project_names:
          type: array
          items:
            type: string
        gcp_billing_account_ids:
          type: array
          items:
            type: string
        gcp_sku_ids:
          type: array
          items:
            type: string
        gcp_locations:
          type: array
          items:
            type: string
        gcp_services:
          type: array
          items:
            type: string
        gcp_labels:
          type: array
          items:
            type: object
        custom_stream_tokens:
          type: array
          items:
            type: string
        custom_metric_names:
          type: array
          items:
            type: string
        custom_dimensions:
          type: array
          items:
            type: object
        opportunity_priorities:
          type: array
          items:
            type: integer

    GetTeamsResponse:
      description: List of Teams with their properties
      type: array
      items:
        $ref: '#/components/schemas/TeamResponse'

    GetOpportunitiesQuery:
      description: Opportunity properties
      type: object
      properties:
        opportunity_type_id:
          type: string
        status:
          type: string
        code_automation:
          type: boolean
        thread_id:
          type: integer
        account:
          type: string
        region:
          type: string
        service:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tags'
        category:
          type: string
        record_id:
          type: string
        source:
          type: string
        github_pr_key:
          type: string
        secondary_id:
          type: integer
        last_detected_start_date:
          type: string
          format: date
        last_detected_end_date:
          type: string
          format: date
        status_updated_start_date:
          type: string
          format: date
        status_updated_end_date:
          type: string
          format: date
        details:
          type: boolean
        priority:
          type: integer
    
    Tags:
      description: Cost allocation resource tags
      type: object
      properties:
        Key:
          type: string
        Value:
          type: string
    
    GetOpportunitiesResponse:
      description: List of filtered opportunities
      type: array
      items:
        $ref: '#/components/schemas/GetOpportunities'  
    
    GetOpportunities:
      description: Opportunity data
      type: object
      properties:
        id:
          type: integer
        source:
          type: string
        opportunity_details:
          type: object
        opportunity_type_id:
          type: string
        cost_impact:
          type: number
        record_id:
          type: string
        status_updated_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        status:
          type: string
        last_detected_at:
          type: string
          format: date-time
        thread_id:
          type: integer
        github_pr_key:
          type: string

externalDocs:
  description: Find out more about Cloudthread platform
  url: https://docs.cloudthread.io